<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Demo for Eleventy/Shopify Plugin">
  <title>{{ title + " | " }}Eleventy Shopify Demo</title>
  <style type="text/css">
    img {
      height: auto;
      max-width: 100%;
    }
  </style>
</head>
<body>
  <a href="/">{{shopify.shop.name}}</a>
  {{ content | safe }}
  <p>The <a href="https://11ty.dev/">Eleventy</a> <a href="https://www.shopify.com/?ref=permalight-nyc">Shopify</a> plugin was made by <a href="https://twitter.com/danleatherman">Dan Leatherman</a> in <a href="https://permalightnyc.com">Brooklyn, NY</a> and hosted on <a href="https://netlify.com">Netlify</a>. <a href="https://eleventy-plugin-shopify-demo.netlify.app/">View the code on Github</a>.</p>
</body>
</html>