---
layout: base.njk
eleventyComputed:
  title: "{{ article.title }}"
pagination:
  data: shopify.articles
  size: 1
  alias: article
permalink: "/blog/{{ article.handle }}/"
---

<h1>{{ article.title }}</h1>

<time datetime="{{ article.publishedAt }}">{{ page.date }}</time>

{% if article.image %}
  <img src="{{ article.image.originalSrc }}" alt="{{ article.image.altText }}">
{% endif %}


{% if article.tags | length > 0 %}
<ul>
  {%- for tag in article.tags %}
    <li>{{ tag }}</li>
  {%- endfor %}
</ul>
{% endif %}

{{ article.contentHtml | safe }}
