---
layout: base.njk
title: Eleventy Shopify
---

<h2>Products</h2>
<ul>
  {% for product in shopify.products %}
    <li><a href="/{{ product.handle }}/">{{ product.title }}</a></li>
  {% endfor %}
</ul>

<h2>Collections</h2>
<ul>
  {% for collection in shopify.collections %}
    <li><a href="/{{ collection.handle }}/">{{ collection.title }}</a></li>
  {% endfor %}
</ul>
  
<h2>Pages</h2>
<ul>
  {% for p in shopify.pages %}
    <li><a href="/{{ p.handle }}/">{{ p.title }}</a></li>
  {% endfor %}
</ul>
  
<h2>Articles</h2>
<ul>
  {% for article in shopify.articles %}
    <li><a href="/{{ article.handle }}/">{{ article.title }}</a></li>
  {% endfor %}
</ul>