---
layout: base.njk
eleventyComputed:
  title: "{{ product.title }}"
pagination:
  data: shopify.products
  size: 1
  alias: product
permalink: "/{{ product.handle }}/"
---

<h1>{{ product.title }}</h1>

<p>{{ product.descriptionHtml | safe }}</p>

<form class="addToCart">
  <input type="hidden" name="cartId" value="" />
  <div class="product-page-price-list">
    {% if (product.variants.edges.length > 1) %}
      {% for variant in product.variants.edges %}
        <div>
          <input id="{{ variant.node.id }}" type="radio" name="merchandiseId" value="{{ variant.node.id }}"{% if loop.index0 == 0 %} checked{% endif %}>
          <label for="{{ variant.node.id }}">
            {{ variant.node.title }} - {{ variant.node.priceV2.amount }} {{ variant.node.priceV2.currencyCode }}
          </label>
        </div>
      {% endfor %}
    {% else %}
      {{ product.variants.edges[0].node.priceV2.currencyCode }} {{ product.variants.edges[0].node.priceV2.amount }}
      <input type="hidden" name="merchandiseId" value="{{ product.variants.edges[0].node.id }}" >
    {% endif %}
    
    <div class="product-page-quantity-row">
      <input type="number" name="quantity" value="1" min="0" max="10" class="product-page-quantity-input">
      <button type="submit" class="button purchase">Add to Cart</button>
    </div>
  </div>
</form>