---
layout: base.njk
eleventyComputed:
  title: "{{ product.title }}"
pagination:
  data: shopify.products
  size: 1
  alias: product
permalink: "/{{ product.handle }}/"
---


{% if product.images.edges.length > 0 %}
  {%- for thumbnail in product.images.edges %}
    <img src="{{thumbnail.node.originalSrc}}" alt="{{ thumbnail.node.alt }}">
  {%- endfor %}
{% endif %}

<h1>{{ product.title }}</h1>

{% if product.priceRange.minVariantPrice.amount === product.priceRange.maxVariantPrice.amount %}
Price {{ product.priceRange.minVariantPrice.amount | formatCurrency }}
{% else %}
Price from: {{ product.priceRange.minVariantPrice.amount | formatCurrency }} - {{ product.priceRange.maxVariantPrice.amount | formatCurrency }}
{% endif %}

{{ product.descriptionHtml | safe }}

<hr>

{% if product.variants.edges %}
  <ul>
  {%- for variant in product.variants.edges %}
    <li>
      <a href="{{ shopify.shop.primaryDomain.url }}/cart/{{ variant.node.id | decodeId }}:1?channel=buy_button">
        Buy
        {% for option in variant.node.selectedOptions %}
          {{ option.name }}: {{ option.value }}{% if loop.index == variant.node.selectedOptions | length %}{% else %} / {% endif %}
        {% endfor %}
      </a>
    </li>
  {%- endfor %}
  </ul>
{% else %}
  <a href="{{shopify.shop.primaryDomain.url}}/cart/{{ product.variants.edges[0].node.id | decodeId }}:1?channel=buy_button">Buy {{ product.title }}</a>
{% endif %}